<section class="signup">
    <div class="signup-container">
        <span class="signup-title">إنشاء حساب جديد</span>
        <form class="signup-form">
            <input class="input" type="text" name="userName" id="userName" placeholder="اسم المستخدم" required
                autocomplete="off">
            <input class="input" type="password" name="password" id="password" placeholder="كلمة المرور" required
                autocomplete="off">
            <input class="input" type="password" name="confirmPassword" id="confirmPassword"
                placeholder="تأكيد كلمة المرور" required autocomplete="off">
            <button type="submit" name="submit" value="أنشئي" class="submit-btn">أنشئي</button>
            <span class="msg"></span>
        </form>
    </div>
</section>