<section class="profile">
  <div class="profile-container">
      <span class="userProfile-title">>>حقوق المرأة<<</span> <div class="userProfile-content">الحق في الميراث</div>
    <div class="userProfile-content">الحق في اختيار الديانة </div>
    <div class="userProfile-content">الحق في العمل وعدمه</div>
    <div class="userProfile-content">الحق في شغل الوظائف العامة</div>
    <div class="userProfile-content">المساهمة في صنع القرارات العامة والسياسية</div>
    <div class="userProfile-content">الحق في شغل الوظائف العامة</div>
    <div class="userProfile-content">الحصول على مَنصبٍ في الوظائف العامة</div>
    <div class="userProfile-content"> الانضمام للجمعيّات المعنيّة بالشؤون السياسية والعامّة</div>
  </div>

  </div>
</section>