<section class="userq">
    <div class="userq-contanier">
        <span class="userq-title">>>طلب استشارة مجانية<<</span>
        <form class="userq-form">
            <label for="qTitle" class="label">عنوان الاستشارة:</label>
            <input type="text" autocomplete="off" name="qTitle" class="input" id="qTitle">
            <label for="qContent" class="label">موضوع الاستشارة:</label>
            <textarea name="qContent" class="input" id="qContent">
           </textarea>
            <button type="submit" name="addQ" class="transmit-button" id="addQ">ارسلي</button>
            <span class="msg" ></span>

        </form>
    </div>
</section>
