<section class="prevQ">
    <div class="prevQ-container">
        <span class="prevQ-title">>>استفساراتي <<</span>
          {{#each result}}
          <div class="question">
          <div class="subCont">
                        <span class="text"><br><<{{this.title}}>></span></span>
                    </div>
                    <div class="subCont">
                        <span class="q-content"><br>{{this.content}}</span></span>
                    </div>
                        <span class="answer-cons"><<الاجابة>></span>
                          <div class="subCont">
                        <span class="q-content"><br>{{this.answer}}</span>
                      </div>             
                  </div>
          {{/each}}
    </div>
   
</section>

</section>