<nav>
    <div class="nav--right">
        <img src="logo.svg" alt="">
        <div><a class='nav__main' id="nav_main" href="/consProfile">الرئيسية</a></div>
        <div><a class='nav__prev' id="nav_prev" href="/consAns">أجوبتي السابقة</a></div>
    </div>
    <div class="nav--left">
        <div class="nav__welcome"> 
            <span>مرحباً سيادة المستشار:</span>
            <span class="nav__welcome--name">{{fullName}}</span>
        </div>
        <div><a class="nav__logout" href="/logout">خــروج</a></div>
    </div>
</nav>