<nav>
    <div class="nav--content">
       <img class=''src="logo.svg" alt="logo" srcset="">
        <div class="nav--message">اسألي عن حقوقك والمستشار يجيب</div>
        <form class='form__login'>
            <label for="username">
                <span>اسم المستخدم:</span>
                <input type="text" id='login-userName' required>
            </label>
            <label for="password">
                <span>كلمة المرور:</span>
                <input type="password"  id='login-password' required>
            </label>
            <label for="submit">
                <span id="login-form-validation">يجب تعبئة جميع الحقول</span>
                <button type="submit" id="login-btn">دخول</button>
            </label>
        </form>
    </div>
</nav>