<nav>
  <div class="usernav-content">
    <img class='' src="logo.svg" alt="logo" srcset="">
    <div class="usernave-element">
      <button class="home navButton">الرئيسية</button>
      <button class="qanon navButton">استشارات قانونية</button>
      <button class="sabqa navButton">استفسارات سابقة</button>
      <button class="safhti navButton">استفساراتي</button>
    </div>
    <div>
      <span class="hellow"> مرحبا  {{userName}}</span>
      <button class="logout-btn">خروج</button>
    </div>
  </div>
</nav>
